@media (max-width:1200px) {
    .wrapper {
        width: 1024px;
    }

}

@media (max-width:1024px) {
    .wrapper {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .serviss {
        width: 100%;
    }

    .customer {
        width: 100%;
    }

    .providers {
        width: 100%;
    }

    .mobile {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .header_text {
        width: 308px;
    }

    .header__menu li a {
        font-size: 21px;
        width: 150;
    }

    .servis__item {
        width: 279px;
    }

    .rectangle {
        width: 955px;
    }

    .providers_text {
        width: 333px;
        transform: none;
    }

    .apps_text {
        width: 340px;
    }

    .small-txt1, .small-txt {
        font-size: 20px
    }

    .illustration,
    .illustration1,
    .illustration2 {
        width: 619px;
    }

    .button {
        width: 250px;
    }

}

@media (max-width:970px) {
    .illustration {
        width: 560px;
    }

    .servis_text {
        width: 874px;
    }

    .servis__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .rectangle {
        width: 890px;
    }

    .customer__details-name-position {
        margin: 0 auto;

    }

    .customer__details-name {
        margin-top: 25px;
    }

    .illustration1 {
        width: 560px;
    }

    .illustration2 {
        width: 560px;
    }

    .header_text {
        transform: none;
    }
}

@media (max-width:768px) {
    .header__menu {
        display: none;

    }

    .illustration {
        width: 300px;
        height: 300px;
    }

    .servis_text {
        width: 717px;
    }

    .rectangle {
        display: none;
    }

    .header_text {
        margin-left: 63px;
    }

    h1 {
        font-size: 25px;
        line-height: 40px;
    }

    .small-txt1, .small-txt {
        font-size: 16px;
    }

    .header {
        height: 533px;
        margin-bottom: 5px;
    }

    .illustration1 {
        width: 362px;
        height: 300px;
        transform: translateY(13%);
    }

    .illustration2 {
        width: 362px;
        height: 300px;
        transform: translateY(25%);
    }

    .providers_text {
        width: 250px;

    }

    .servis__item {
        width: 230px;
    }

    .button {
        width: 170px;
    }

    .providers {
        margin-bottom: 10px;
    }

    .title {
        width: 315.24px;
        height: 141.57px;
    }

    .footer_text {
        font-size: 15px;
    }

    .copy {
        font-size: 13px;
    }

    .list_title {
        line-height: 50px;
        font-size: 17px;
    }

    .list_description {
        font-size: 16px;
    }

    .servis__item-txt {
        font-size: 14px;
    }

    .header__nav {
        margin-bottom: 50px;
    }

    .apps_text {
        width: 326px;
    }
}


@media (max-width:625px) {
    .wrapper {
        width: 100%;
    }

    .header__banner {
        flex-direction: column;
        margin: 0 auto;
    }

    .header {
        height: 800px;
        margin-bottom: 5px;

    }

    .servis_text {
        width: 385px;
    }

    .servis__container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .pr {
        flex-direction: column;
        margin: 0 auto;
    }

    .ma {
        flex-direction: column;
        margin: 0 auto;
    }

    h1 {
        font-size: 34px;
        line-height: 42px;
        text-align: center;
    }

    .small-txt1, .small-txt {
        font-size: 16px;
        text-align: center;
    }

    .button-primary {
        margin: 0 auto;
    }

    .illustration {
        margin: 0 auto;
    }

    .servis__item {
        width: 270px;
    }

    .illustration1 {
        width: 350px;
        margin: 0 auto;
    }

    .separator_providers {
        margin: 0 auto;
    }

    .illustration2 {
        height: 310px;
    }

    .title {
        width: 130.24px;
        height: 64.57px;

    }

    .customer {
        margin-bottom: 5px;
    }

    .list {
        margin-top: 44px;
    }

    h4 {
        font-size: 14px;
    }

    .footer_text {
        font-size: 12px;
    }

    .copy {
        font-size: 11px;
    }

    .list_description {
        font-size: 12px;
    }

    .list_title {
        font-size: 13px;
    }

    .button-providers {
        margin: 0 auto;
    }

    .footer {
        height: 300px;
    }


}

@media (max-width:320px) {
    .header_text {
        margin-left: -15px;
    }

    .servis_text {
        width: 270px;
    }

    .illustration1 {
        width: 272px;
        margin: 0 auto;
    }

    .apps_text {
        width: 266px;
    }

    .illustration2 {
        height: 196px;
        width: 272px;
    }

    .servis__item-txt {
        font-size: 18px;
    }

    .apps_text {
        margin-bottom: 100px;
    }

    .title {
        width: 231.24px;
        height: 94.57px;
        text-align: center;

    }

    .list {
        display: none;
    }

    h4 {
        font-size: 16px;
    }

    .footer_text {
        font-size: 15px;
    }

    .copy {
        font-size: 13px;
    }

    .footer_logo {
        justify-content: center;
    }


}